In [1]:
s1= {1,8,9,0,10,9,0,1,9}
print(s1)
print(type(s1))

{0, 1, 8, 9, 10}
<class 'set'>

In [4]:
lst1=[1,8,9,0,10,20,78,8,8,8]
s2=set(lst1)
s2

{0, 1, 8, 9, 10, 20, 78}

In [8]:
s1={1,2,3,4}
s2={2,4,5,6}
s1|s2
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [10]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [20]:
s1={1,2,3}
s2={3,4,5}
s1 & s2

{3}

In [26]:

s1={2,3,6,7}
s2={5,6,7}
s1-s2

{2, 3}

In [28]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [47]:

s1={1,2,3,4,5}
s2={1,2,3}
s2.issubset(s1)

True

In [43]:
s2.issuperset(s1)

False

In [45]:
s1.issuperset(s2)

True

In [49]:
####Strings
str1='Welcome aiml class'
str2="We started with python"
str3='''This is awesome class'''
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [55]:
print(str1)
str1[5:10]

Welcome aiml class

'me ai'

In [57]:
def(str)

SyntaxError: invalid syntax (2847111479.py, line 1)

In [61]:
print(str1)#to create tokens
str1.split()

Welcome aiml class

['Welcome', 'aiml', 'class']

In [63]:
str1.join(str2)

'WWelcome aiml classeWelcome aiml class Welcome aiml classsWelcome aiml classtWelcome aiml classaWelcome aiml classrWelcome aiml classtWelcome aiml classeWelcome aiml classdWelcome aiml class Welcome aiml classwWelcome aiml classiWelcome aiml classtWelcome aiml classhWelcome aiml class Welcome aiml classpWelcome aiml classyWelcome aiml classtWelcome aiml classhWelcome aiml classoWelcome aiml classn'

In [75]:
str4="Hello! How are you"
' '.join(str4)

'H e l l o !   H o w   a r e   y o u'

In [77]:
str5="      Hello ,how are you"
" ".join(str4)

'H e l l o !   H o w   a r e   y o u'

In [1]:
num=6
if num%2==0:
    print("Even")
else:
    print("Odd")

Even

In [ ]:
 print("Even") if num % 2==0 else print("Odd")

In [11]:
x=12
result ="Positive" if x > 0 else "Negative"
print(result)

Positive

In [17]:
num = int(input("Enter a number: "))
result="Positive" if num > 0 else ("Negative" if  num < 0 else "Zero")
print(result)

Enter a number:  15

Positive

In [19]:
L=[1,9,2,10,56,89]
[2*x for x in L]

[2, 18, 4, 20, 112, 178]

In [27]:
L=[1,9,2,10,56,89]
[x for x in L if x % 2 == 0]

[2, 10, 56]

In [33]:
L=[1,9,2,10,56,89]
[x for x in L if x%2 != 0]

[1, 9, 89]

In [45]:
sal = [40000,60000,80000,45000]
[(x * 1.2 if x <= 50000 else x)for x in sal]

[48000.0, 60000, 80000, 54000.0]

In [51]:
d1={'Ram':[70,71,98,100],'john':[56,98,67,65]}
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'john': 71.5}

In [53]:
def mean_value(given_list):
    total=sum(given_list)
    average_value = total/len(given_list)
    return average_value

In [55]:
L=[1,2,3,4,5,6,7,8,9,10]
mean_value(L)

5.5

In [79]:
def greet(name):
    print(f"Good morning {name}!")

In [83]:
greet("Siddu")

Good morning Siddu!

In [100]:
def avg_value(*n):
    l = len(n)
    average=sum(n)/l
    return average

In [106]:
avg_value(60,90,120)

90.0